<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>ヘッダとフッタ用フラグメント</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
		
	<!-- ヘッダ領域 -->
	<th:block layout:fragment="header">
	<header class="header layout--flex">
		<h1 class="header__title">顧客管理システム</h1>
		<!--/*
		<th:block th:if="${@authInfo?.email}">
		*/-->
		<ol class="header__nav layout--flex">
			<li class="header__nav-item"><a class="header__link" href="/companies/list">取引先</a></li>
			<li class="header__nav-item"><a class="header__link" href="/contacts/list">担当者</a></li>
			<li class="header__nav-item right-align"><a class="header__link--logout" href="/logout">ログアウト</a></li>
		</ol>
		<!--/*
		</th:block>
		*/-->
	</header>
	</th:block>

	<!-- コンテンツ領域 -->
	<th:block layout:fragment="content"></th:block>

	<!-- フッタ領域 -->
	<th:block layout:fragment="footer">
	<footer class="footer">
		<div id="copyright" class="footer__body--copyright">&copy;2024 Java研修</div>
	</footer>
	</th:block>
</body>
</html>